#inventory{
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, flex);
}

html,
body{
    color: #2d2d2d;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

h1{ font-family: Arial, Helvetica, sans-serif, cursive};

header{
    background:#dfd9a2;
    color:rgb(230, 90, 40);
    padding: 20px;
    text-align:center;
}

header h1 {font-size:42px;
    background-color: #dfd9a2;
    background:darkgoldenrod;
    text-align: center;
margin-top:auto;
}

main {margin: 25px auto;
width: 80%;

}
main a:hover {
color:darkgoldenrod
}

main img {
    border: 2px solid chocolate;
    border: radius 3px;;
    height: 100px;x;
    object-fit:cover;
    object-position: 25%;
    width: 100%;
}

form input,
form label,
form textarea {
    box-sizing: border-box;
    display: block;
    margin: 5px 0;
    width:100%;
    te
}


footer { 
background-color: #dfd9a2;
color: darkgoldenrod;
font-size: 14px;
padding: 25px;
text-align: right;
 }